body{
   
    background: rgb(2,0,36);
    background: linear-gradient(51deg, rgba(2,0,36,1) 0%, rgba(88,172,223,1) 32%, rgba(182,53,220,1) 66%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-position:center ;
   
    background-repeat: no-repeat;
}
h1{
    text-align: center;
<<<<<<<< HEAD:formulaire d'inscription/style.css
    font-family: sans-serif;
}

div {
    padding: 5px 10px;
}

.div1 {
    display: flex;


}

.div1 input {
    padding: 5px;
    width: 202px;
}



.d1 input {
    width: 440px;
    padding: 5px;

}

label {
    display: block;
    padding: 3px;


}
.d2 label {
    display: inline;
    word-wrap: break-word;
}

.d3 input {
    width: 100%;
    padding: 5px;
    background-color: rgb(8, 92, 176);
    border: 1px solid transparent;
========
    font-size: 20px;
>>>>>>>> 1a48ec4e68b76de94cbeed143ff12b08fbec218e:style.css
    color: white;
    margin-bottom: 20px;
   
}
.form-box{
    width: 30%;
    margin: 12% auto;
    background-color: rgba(0,0,0,0.4);
    padding: 40px 25px;
    border-radius: 5%;
    
}
.input-box{
    margin:12% auto;
    width: 90%;
    border-bottom: 1px solid #ccc;
    
}
.input-box input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.btn-box{
    margin: 0 auto;
    width: 250px;
    
    
    
    
}
input[type=submit]{
    background-color: transparent;
    border:1px solid #ccc;
    color: white;
    max-width: 80%;
   
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
   
    
}
.return{
    width: 90%;
    text-align: center;
    margin: 20px auto;
    
    
}
a{
    color: white;
    text-decoration: underline;
    display: inline-block;
    text-align: center;
  
    
}
::placeholder{
    color: #ccc;
    
  
}
